.section_hist{
    height: 570px;
    background: url('img/clients.jpg') no-repeat fixed;
    background-size: 100% 100%;

}

.section_hist-box{
    height: 450px;
}

.section_hist-box h3{
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.section_hist-box p{
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-top: 20px;
    font-size: 17px;
}
