.section_home{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.section_home-text{
    text-align: justify;
    color:black ;
    font-weight: 400;
    font-size: 15px;
    
}

.section_home i{
    color: white;
    border: 8px solid grey;
    background-color: grey;
}

.section_home-itext{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}

    